<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Photo App</title>
    <link rel="stylesheet" type="text/css" href=" /public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href=" /public/css/design.css">
    <!-- <script defer type="text/javascript" src=" ../js/formValidation.js"></script> -->
  </head>
  <body>
    {{> nav}}
    {{{body}}}
    {{> footer}}

    {{#if logged}}
    <script>
      let ele =document.getElementById('logoutLink');
      if(ele) {
        ele.onclick = (even) => {
          fetch('/users/logout', {
            method:"POST"
          })
          .then((data)=>{
            location.replace('/');
          })
        }
      }
    </script>
    {{/if}}
  </body>
</html>
