<body>
    <div id="main_content">
        <div class="outer_grid-container ">
            <header id=" login_intro ">
                <h1>Welcome Back</h1>
            </header>
            <form class="inner_grid-container">
                <label for="userName ">User Name</label>
                <input type="text " name="userName " id="userName " placeholder="User Name " />
                <!-- <br/> -->
                <label for=" password ">Password</label>
                <input type="password " name="password " id="password " placeholder="password " />
                <!-- <br/> -->
                <!-- <br/> -->
                <button type=" submit " id="logon " class="loginButton"> Login</button>
                <a href="/register">Not a User? Sign up </a>
            </form>
        </div>
    </div>
    
</body>
