<body>
   <div class="outer_grid-container" id="postContainer">
            <header id="post_image_intro">
                <h1>Post Information</h1>
            </header>
            <form id="post-image" method="POST" enctype="multipart/form-data" action="/posts/postimage">
                <div class="inner_grid-container" >
                    <label for="postTitle">Title</label>
                    <input id="title" type="text" name="title" placeholder="title" required/>
                    <label for="postInfo">Description</label>
                    <input id="desc" type="text" name="description" placeholder="description" required/>
                    <label for="image">Upload Image</label>
                    <input type="file" name="uploadImage" required/>
                </div>
                <input type="checkbox" name="AcceptPolicy " />
                <label for="AcceptPolicy" class="Policy"><a href="# " style="color: #301934">Accceptable Use Policy</a></label>
                <br/>
                <div class="flex-box ">
                    <button type="submit" class="registerButton"> Submit</button>
                </div>
            </form>
        </div>
</body>