<body>
    <div id="main_content">
        <div class="outer_grid-container">
            <header id="post_image_intro">
                <h1>Post Information</h1>
            </header>
            <form>
                <div class="inner_grid-container">
                    <label for="postTitle">Title</label>
                    <input type="text" name="postTitle" placeholder="title" />
                    <label for="postInfo">Description</label>
                    <input type="text" name=" postInfo" placeholder=" description " />
                    <label for="image ">Upload Image</label>
                    <input type="file" name="image " />
                </div>
                <br/>
                <input type="checkbox" ame="AcceptPolicy " />
                <label for="AcceptPolicy " class="Policy "><a href="# ">Accceptable Use Policy</a></label>
                <br/>
                <div class="flex-box ">
                    <button type="submit " class="registerButton "> Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>