<body>
    <div class="ViewingPost">
        <header id="viewpost_intro">
            <h1>View Post</h1>
        </header>
        <section class="ViewPostInfo">
            <h2>Post Title: Fake Image</h2>
        </section>
        <section class="ViewPostInfo">
            <h2>Post Author: Siham</h2>
        </section>
        <section class="ViewPostInfo">
            <h2>Creation Time: 9:48PM</h2>
        </section>
        <section id="viewImage">
            <img src="https://fakeimg.pl/300/" alt="Couldn't display image">
        </section>
    </div>
</body>